
.infinite-scroll-example__scrollable-parent {
  height: 500px;
  overflow-y: scroll;
  position: relative;
  outline: 6px solid lightblue;
}
.infinite-scroll-example {
    border: solid 1px blue;
    position: relative;
}
.infinite-scroll-example__count {
    right: 0;
    top: 0;
    background-color: #999;
    color: #fff;
    opacity: 0.5;
    padding: 10px;
    pointer-events: none;
    position: absolute;
    z-index: 1000;
}
.infinite-scroll-example__scrollable-parent {
    height: 500px;
    margin: 0 auto;
    max-width: 580px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
}
.infinite-scroll-example__list-item {
    max-width: 580px;
}
#loader {
	width: 200px;
	height: 180px; 
	margin: 0 auto;
  display: block;
}
.video-row {
  margin-bottom: 20px;
}
.container h3 {
  margin-top: 0;
}
/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 70rem;
  }
}